[user]
	name = Leonardo Brito
	email = leopbrito@icloud.com
[alias]
	graph = log --graph --all --date=format-local:\"%d/%m/%y %H:%M:%S\" --pretty=format:\"--%C(auto)%d %C(cyan)%h %C(white)%<(50,trunc)%s%n   %C(dim white)%an - %ad%n\"
[push]
	autoSetupRemote = true
